<header class="topbar">
    <div class="topbar-left">
        <ul class="topbar-nav">
            <li><a id="topbar-btn-toggleSidebar"><i class="fa fa-bars"></i></a></li>
        </ul>
        <a href="/" class="topbar-brand">herrwelter</a>
    </div>
</header>